.button {
    -fx-border-radius: 10 10 10 10;
    -fx-border-style: none;
    -fx-background-color: #F1F1F1;
}

.button:hover {
    -fx-background-color: #DEDEDE;
}

.default-color0.chart-bar {
    -fx-background-color: rgba(0,0,0,0); /* hide idle series */
}

.status-green {
    -fx-background-color:rgba(0,128,0,0.7);
    -fx-border-color: #3D333B;
    -fx-padding: 5px;
}


